################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/lok wss
/bin
/obj
/database/lokContext.cs
